{% extends 'basic.html' %}

{% block title %} BlogApp - About {% endblock %}

{% block body %}
	<section class="jumbotron container text-center" style="background-color: #fff;">
        <div class="container">
          <h1 class="jumbotron-heading text-capitalize my-3">Welcome to Our Blogapp</h1>
          <p class="lead text-muted"><strong>ipsum dolor sit amet</strong>, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.
          	ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </section>
{% endblock %}