{% extends 'basic.html' %}

{% block body %}
	<div class="jumbotron">
		<h1 class="display-3">Jumbo heading</h1>
		<p class="lead">Jumbo helper text</p>
		<hr class="my-2">
		<p>More info</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
		</p>
	</div>
	<div class="container">
		<form>
			<div class="form-group">
			  <label for=""></label>
			  <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="">
			  <small id="emailHelpId" class="form-text text-muted">Help text</small>
			</div>
		</form>
	</div>
	
{% endblock %}